<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Show Graphs for {{ machine }}</h1>

    {% for graphset in graphset_list %}
      <a href="{% url 'get_graph_data' machine graphset %}">{{ graphset }}</a><br>

      <div id="{{ graphset }}" style="width: 600px; height: 450px; border: 1px solid black"></div>
      <script>
        $.ajax("{% url 'get_graph_data' machine graphset %}").done(function(data){
          Plotly.newPlot(
            '{{ graphset }}',
            [{"type": "scatter", "y": data['y'], x=data['x']]}],
          );
        })

      </script>
    {% endfor %}

  </body>
</html>
