<html>{% load tz %}
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
      .graph_container {
        width: 600px; height: 450px;
      }
    </style>
    {% get_current_timezone as TIME_ZONE %}
    <script>
      var graph_args = [];
      var graph_data_matrix = null;

      function fill_in_traces(traces, column) {
        traces.forEach(function(trace){
          trace['x'] = []; trace['y'] = [];
        });

        graph_data_matrix.forEach(function(row){
          var cell = row[column];

          if(cell == null) {
            return;
          }

          if(!Array.isArray(cell)) {
            cell = [cell];
          }

          traces.forEach(function(trace, i){
            if(cell[i] == null) {
              return;
            }
            trace['x'].push(row[0]);
            trace['y'].push(cell[i]);
          });
        });
        return traces
      }

      function make_graph(div, traces, column, title, ytitle){
        traces = fill_in_traces(traces, column)

        Plotly.newPlot(
          div, traces,
          {
              "title": title,
              "yaxis": {"title": ytitle},
              "xaxis": {"title": "{{ TIME_ZONE }}"}
          }
        );
      }
    </script>
  </head>
  <body>
    <h1>Graphs for {{ machine }}</h1>
    <a href=".">Back to machines</a>

    {% for metric in metric_list %}
      <hr>
      <div id="{{ metric.get_internal_name }}" class="graph_container"></div>
      <script>
          graph_args.push([
            '{{ metric.get_internal_name }}', {{ metric.traces|safe }},
            {{ forloop.counter }}, "{{ metric.title }}", "{{ metric.yaxis_title }}"
          ]);
      </script>
    {% endfor %}

    <script>
      $.ajax("{% url 'get_matrix' machine %}").done(function(response){
        graph_data_matrix = response['matrix'];
        
        graph_args.forEach(function(args){
          make_graph.apply(null, args);
        });
      });
    </script>

  </body>
</html>
